@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body{
    background-color: dimgray;
    font-family: 'Poppins', sans-serif;
}

.navigation{
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}